.container {
  background-color: rgba(255, 255, 255, 0.637);
  font-family: "DM Sans", sans-serif;
  min-height: 450px;
  min-width: 480px;
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  color: hsl(25, 47%, 15%);
  font-size: 27px;
  font-weight: 700;
  margin: 25px 0px 0px 40px;
}

.chart {
}

.total {
    color:  hsl(28, 10%, 53%);
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.totalMonth {
    margin: 20px 0px 0px 35px;
}

.totalMonthSum, .percentage {
  color: hsl(25, 47%, 15%);
  font-weight: 700;
}

.totalMonthSum {
    font-size: 40px;
    margin: 0px 0px 0px 35px;
}

.percentage {
    margin: 50px 0px 0px 65px;
}

.percentageTitle {
    margin: 0px 0px 0px 0px;
}

.hr {
  width: 420px;
  opacity: 0.3;
  margin-top: 220px;
}
