.main {
    background-color: hsl(27, 66%, 92%);
    min-height: 100vh;
    min-width: 1425px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.balance {
    margin: 180px 0px 0px 0px;
}

.chart {
    margin: 20px 0px 0px 0px;
}