.main {
  min-height: 100vh;
  max-width: 1440px;
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  width: 1200px;
  height: 85vh;
  background-color: hsl(0, 0%, 100%);
  border-radius: 3%;
}
