.container {
  display: flex;
  flex-direction: column;
}

.searchBar {
  position: fixed;
  top: 18.5%;
  left: 32%;
}

.vacancies {
  position: fixed;
  top: 18.5%;
  left: 32%;
}

.pagination {
  position: fixed;
  top: 91%;
  left: 60%;
}
