.main {
  display: flex;
  justify-content: space-between;
}

.main button {
  color: #1f1f1f;
  background-color: #1f1f1f93;
  font-size: 30px;
  padding: 10px;
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prevBtn {
  position: absolute;
}
.nextBtn {
  position: absolute;
  margin: 0px 0px 0px 1380px;
}

/* @media (max-width: 575.98px) {
  .main {
    color: red;
  }
  .main button {
    font-size: 15px;
    padding: 10px;
  }
  .prevBtn {
    position: absolute;
  }
  .nextBtn {
    position: absolute;
    margin: 0px 0px 0px 273px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .main {
    color: rgb(25, 0, 255);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .main {
    color: rgb(255, 238, 0);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .main {
    color: rgb(94, 255, 0);
  }
}

@media (min-width: 1200px) {
  .main {
    color: rgb(255, 0, 191);
  }
}

@media (min-width: 1400px) {
  .main {
    color: rgb(255, 123, 0);
  }
} */
