.container {
  max-width: 480px;
  max-height: 180px;
  background-color: hsl(10, 79%, 65%);
  border-radius: 15px;
  overflow: hidden;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 170px;
}

.data {
  margin: 20px 0px 0px 30px;
  font-family: "DM Sans", sans-serif;
  color: hsl(27, 66%, 92%);
}

.balance {
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.amount {
  font-size: 25px;
  font-weight: 700;
}

.img {
  background-color: hsl(10, 79%, 65%);
  height: 60px;
  width: 60px;
}
