.layout {
  background-color: rgb(250, 250, 250);
  width: 800px;
  height: 350px;
}

.title {
  color: hsl(14, 45%, 36%);
  font-family: "Young Serif", serif;
  font-weight: 600;
  font-size: 25px;
  margin: 20px 0px 0px 23px;
}

.list {
  font-family: "Outfit", sans-serif;
}

span {
  margin-left: 10px;
}

li {
  color: hsl(24, 5%, 18%);
  margin-bottom: 10px;
}

li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}

.line {
  opacity: 0.2;
  margin-top: 30px;
}
