.main {
  height: 60px;
  width: 100%;
  max-width: 1100px;
  background-color: white;
  box-shadow: 0 2px 2px hsl(180, 29%, 50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  margin: -50px 0px 0px 0px;
}

.clearContainer {
  display: flex;
  align-items: center;
}

.spacer {
  flex-grow: 1;
}

.clear {
  color: hsl(180, 29%, 50%);
  cursor: pointer;
  margin: 0px 60px 0px 0px;
}

.clear:hover {
  text-decoration: underline;
}

.tags {
  font-weight: 700;
  display: flex;
  max-height: 30px;
  margin: 0px 0px 0px 90px;
}

.tagWrapper {
  display: flex;
  align-items: center;
}

.tag {
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  padding: 4px 7px;
  user-select: none;
}

.delete {
  color: hsl(180, 31%, 95%);
  background-color: hsl(180, 29%, 50%);
  padding: 6px;
  margin-right: 10px;
  cursor: pointer;
}

.delete:hover {
  color: hsl(180, 31%, 95%);
  background-color: hsl(180, 14%, 20%);
}
