.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
}

.title {
  margin: 20px 0px 0px 50px;
  color: hsl(24, 5%, 18%);
}

.parameter {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
  margin: 20px 0px 0px 0px;
}

.line {
  opacity: 0.2;
  margin-top: 17px;
}
