.main {
    min-height: 100vh;
    min-width: 1425px;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .layout {
    width: 1200px;
    height: 85vh;
    background-color: hsl(0, 0%, 100%);
    border-radius: 3%;
  }
  
  .gridMenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 10px;
    padding: 40px 0px 0px 270px;
  }
  
  .gridMenu div {
    color: hsl(14, 45%, 36%);
    font-family: "Outfit", sans-serif;
    font-size: 25px;
    font-weight: 600;
  }
  
  .gridMenu div:hover {
    color: hsl(14, 93%, 48%);
    cursor: pointer;
  }
  